:root {
    --table-block-width: 150px;
    --table-block-bg: #191b20;
    --virtual-width: 1280px;
    --fg-main: #bebebe;
    --bg-main: #14171a;
}

html {
    color: var(--fg-main);
    background-color: var(--bg-main);
}

body {
    margin: 30px auto;
    padding: 0px 20px;
    max-width: var(--virtual-width);
}

nav {
    ul {
        display: flex;
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
            margin-right: 10px;
        }
    }

    margin-bottom: calc(16px * 2);
}

table {
    border-collapse: collapse;


    tr:nth-child(even) {
        background-color: #121212;
    }

    tr:nth-child(odd) {
        background-color: #151515;
    }

    thead {
        tr {
            td, th {
                height: 40px;
                background-color: #131316;
            }
        }
    }

    td, th {
        word-wrap: break-word;

        width: var(--table-block-width);
        max-width: var(--table-block-width);
        height: 60px;

        padding: 0px 10px;
        border: 1px solid #2c2c35;
    }
}

a {
    color: var(--fg-main);
}
